skincare.wign.cloud {
  root * /var/www/html/public
  encode gzip
  
  tls /etc/caddy/certs/origin_certificate.pem /etc/caddy/certs/private_key.pem
  
  php_fastcgi app:9000
  
  file_server
  
  log {
    output file /var/log/caddy/access.log
  }
}

# Metrics endpoint for Prometheus (internal only)
:2019 {
  metrics
}