skincare.wign.cloud {
  root * /var/www/html/public
  encode gzip
  
  tls /etc/caddy/certs/origin_certificate.pem /etc/caddy/certs/private_key.pem
  
  php_fastcgi app:9000
  
  file_server
  
  log {
    output file /var/log/caddy/access.log
  }
}

:80 {
  root * /var/www/html/public
  encode gzip
  
  handle /metrics {
    php_fastcgi app:9000
  }
  
  php_fastcgi app:9000
  
  file_server
  
  log {
    output stdout
    format json
  }
}

:2019 {
  metrics
}